@import '../../_vars'

.searchbar
  display: flex
  margin-bottom: 10px

  input
    padding: 5px
    margin-right: 0
  button
    padding: 5px

.notfound
  color: red
  width: 100%
  text-align: center
  border: 0
  font-weight: 600
