<h3>{{pageTitle}}</h3>


<div class="searchbar">
  
    <input type="text" name="name" placeholder="Soldiername" (keyup.enter)="getByName(userName)" [(ngModel)]="userName">
    <button type="submit" (click)="getByName(userName)">Search</button>
  
</div>
<div class="statsContainer">
  <table class="stats-table">
    <thead>
      <th><a class="th-sort" href="" (click)="sort($event, 'personaname')">Name</a><span class="arrow"  *ngIf="sortableCol === 'personaname'"><span *ngIf="asc">&#11107;</span><span *ngIf="!asc">&#11105;</span></span></th>
      <th><a class="th-sort" href="" (click)="sort($event, 'totalscore')">Total Score</a><span class="arrow"  *ngIf="sortableCol === 'totalscore'"><span *ngIf="!asc">&#11107;</span><span *ngIf="asc">&#11105;</span></span></th>
      <th class="small-screen"><a class="th-sort" href="" (click)="sort($event, 'rush')">Rush Score</a><span class="arrow" *ngIf="sortableCol === 'rush'"><span *ngIf="!asc">&#11107;</span><span *ngIf="asc">&#11105;</span></span></th>
      <th class="small-screen"><a class="th-sort" href="" (click)="sort($event, 'combatscore')">Combat Score</a><span class="arrow" *ngIf="sortableCol === 'combatscore'"><span *ngIf="!asc">&#11107;</span><span *ngIf="asc">&#11105;</span></span></th>
      <th><a class="th-sort" href="" (click)="sort($event, 'kills')">Kills</a><span class="arrow" *ngIf="sortableCol === 'kills'"><span *ngIf="!asc">&#11107;</span><span *ngIf="asc">&#11105;</span></span></th>
      <th><a class="th-sort" href="" (click)="sort($event, 'deaths')">Deaths</a><span class="arrow" *ngIf="sortableCol === 'deaths'"><span *ngIf="!asc">&#11107;</span><span *ngIf="asc">&#11105;</span></span></th>
      <th><a class="th-sort" href="" (click)="sort($event, 'kd')">K/D</a><span class="arrow" *ngIf="sortableCol === 'kd'"><span *ngIf="!asc">&#11107;</span><span *ngIf="asc">&#11105;</span></span></th>
      <th class="mobile-screen"><a class="th-sort" href="" (click)="sort($event, 'kpm')">Kpm</a><span class="arrow" *ngIf="sortableCol === 'kpm'"><span *ngIf="!asc">&#11107;</span><span *ngIf="asc">&#11105;</span></span></th>
      <th class="mobile-screen"><a class="th-sort" href="" (click)="sort($event, 'headshots')">Headshots</a><span class="arrow" *ngIf="sortableCol === 'headshots'"><span *ngIf="!asc">&#11107;</span><span *ngIf="asc">&#11105;</span></span></th>
      <th class="mobile-screen"><a class="th-sort" href="" (click)="sort($event, 'revives')">Revives</a><span class="arrow" *ngIf="sortableCol === 'revives'"><span *ngIf="!asc">&#11107;</span><span *ngIf="asc">&#11105;</span></span></th>
      <th class="mobile-screen"><a class="th-sort" href="" (click)="sort($event, 'heals')">Heals</a><span class="arrow" *ngIf="sortableCol === 'heals'"><span *ngIf="!asc">&#11107;</span><span *ngIf="asc">&#11105;</span></span></th>
      <th class="mobile-screen"><a class="th-sort" href="" (click)="sort($event, 'repairs')">Repairs</a><span class="arrow" *ngIf="sortableCol === 'repairs'"><span *ngIf="!asc">&#11107;</span><span *ngIf="asc">&#11105;</span></span></th>
      <th class="mobile-screen"><a class="th-sort" href="" (click)="sort($event, 'resupplies')">Resupplies</a><span class="arrow" *ngIf="sortableCol === 'resupplies'"><span *ngIf="!asc">&#11107;</span><span *ngIf="asc">&#11105;</span></span></th>
      <th class="small-screen"><a class="th-sort" href="" (click)="sort($event, 'vehiclesdestroyed')">Vehicles Destroyed</a><span class="arrow" *ngIf="sortableCol === 'vehiclesdestroyed'"><span *ngIf="!asc">&#11107;</span><span *ngIf="asc">&#11105;</span></span></th>
      <th class="mobile-screen"><a class="th-sort" href="" (click)="sort($event, 'timeplayed')">Playtime</a><span class="arrow" *ngIf="sortableCol === 'timeplayed'"><span *ngIf="!asc">&#11107;</span><span *ngIf="asc">&#11105;</span></span></th>
    </thead>
    <tbody *ngIf="isLoading">
      <tr>
        <td colspan=15 class="loading">Searching battlerecord archives...</td>
      </tr>
      <tr>
        <td colspan=15 class="loading">
          <span class="ball"></span>
        </td>
      </tr>
    </tbody>
    <tbody *ngIf="!isLoading">
      <tr *ngFor="let stat of stats | orderBy: config | stringFilter: nameFilter">
          <td>{{ stat.personaname }}</td>
          <td>{{ stat.totalscore }}</td>
          <td class="small-screen">{{ stat.rush }}</td>
          <td class="small-screen">{{ stat.combatscore }}</td>
          <td>{{ stat.kills }}</td>
          <td>{{ stat.deaths }}</td>
          <td [ngClass] = "{'alertColor' : kd > 10, 'warningColor' : kd < 10 && kd > 5  }" >{{ stat.kd }}</td>
          <td class="mobile-screen" [ngClass] = "{'alertColor' : kpm > 2.8, 'warningColor' : kpm < 2.8 && kpm > 2 }">{{ stat.kpm }}</td>
          <td class="mobile-screen">{{ stat.headshots }}</td>
          <td class="mobile-screen">{{ stat.revives }}</td>
          <td class="mobile-screen">{{ stat.heals }}</td>
          <td class="mobile-screen">{{ stat.repairs }}</td>
          <td class="mobile-screen">{{ stat.resupplies }}</td>
          <td class="small-screen">{{ stat.vehiclesdestroyed }}</td>
          <td class="mobile-screen">{{ (stat.timeplayed / 60) / 60 | number: '1.0-0'}} h</td>
        </tr>

    </tbody>
  </table>
</div>
