<h3>{{pageTitle}}</h3>


<div class="searchbar">
    <input type="text" name="name" placeholder="Soldiername" (keyup.enter)="getByName(userName)" [(ngModel)]="userName">
    <button type="submit" (click)="getByName(userName)">Search</button>

</div>
<div class="statsContainer">
  <table class="stats-table">
    <thead>
      <th><a class="th-sort" href="" (click)="sort($event, 'soldierName')">Name</a><span class="arrow"  *ngIf="sortableCol === 'soldierName'"><span *ngIf="asc">&#11107;</span><span *ngIf="!asc">&#11105;</span></span></th>
      <th><a class="th-sort" href="" (click)="sort($event, 'totalScore')">Total Score</a><span class="arrow"  *ngIf="sortableCol === 'totalScore'"><span *ngIf="!asc">&#11107;</span><span *ngIf="asc">&#11105;</span></span></th>
      <th><a class="th-sort" href="" (click)="sort($event, 'rush')">Rush Score</a><span class="arrow" *ngIf="sortableCol === 'rush'"><span *ngIf="!asc">&#11107;</span><span *ngIf="asc">&#11105;</span></span></th>
      <th><a class="th-sort" href="" (click)="sort($event, 'combatScore')">Combat Score</a><span class="arrow" *ngIf="sortableCol === 'combatScore'"><span *ngIf="!asc">&#11107;</span><span *ngIf="asc">&#11105;</span></span></th>
      <th><a class="th-sort" href="" (click)="sort($event, 'kills')">Kills</a><span class="arrow" *ngIf="sortableCol === 'kills'"><span *ngIf="!asc">&#11107;</span><span *ngIf="asc">&#11105;</span></span></th>
      <th><a class="th-sort" href="" (click)="sort($event, 'deaths')">Deaths</a><span class="arrow" *ngIf="sortableCol === 'deaths'"><span *ngIf="!asc">&#11107;</span><span *ngIf="asc">&#11105;</span></span></th>
      <th><a class="th-sort" href="" (click)="sort($event, '')">K/D</a><span class="arrow" *ngIf="sortableCol === ''"><span *ngIf="!asc">&#11107;</span><span *ngIf="asc">&#11105;</span></span></th>
      <th><a class="th-sort" href="" (click)="sort($event, 'killsPerMinute')">Kpm</a><span class="arrow" *ngIf="sortableCol === 'killsPerMinute'"><span *ngIf="!asc">&#11107;</span><span *ngIf="asc">&#11105;</span></span></th>
      <th><a class="th-sort" href="" (click)="sort($event, 'headshots')">Headshots</a><span class="arrow" *ngIf="sortableCol === 'headshots'"><span *ngIf="!asc">&#11107;</span><span *ngIf="asc">&#11105;</span></span></th>
      <th><a class="th-sort" href="" (click)="sort($event, 'revives')">Revives</a><span class="arrow" *ngIf="sortableCol === 'revives'"><span *ngIf="!asc">&#11107;</span><span *ngIf="asc">&#11105;</span></span></th>
      <th><a class="th-sort" href="" (click)="sort($event, 'heals')">Heals</a><span class="arrow" *ngIf="sortableCol === 'heals'"><span *ngIf="!asc">&#11107;</span><span *ngIf="asc">&#11105;</span></span></th>
      <th><a class="th-sort" href="" (click)="sort($event, 'repairs')">Repairs</a><span class="arrow" *ngIf="sortableCol === 'repairs'"><span *ngIf="!asc">&#11107;</span><span *ngIf="asc">&#11105;</span></span></th>
      <th><a class="th-sort" href="" (click)="sort($event, 'resupplies')">Resupplies</a><span class="arrow" *ngIf="sortableCol === 'resupplies'"><span *ngIf="!asc">&#11107;</span><span *ngIf="asc">&#11105;</span></span></th>
      <th><a class="th-sort" href="" (click)="sort($event, 'vehiclesDestroyed')">Vehicles Destroyed</a><span class="arrow" *ngIf="sortableCol === 'vehiclesDestroyed'"><span *ngIf="!asc">&#11107;</span><span *ngIf="asc">&#11105;</span></span></th>
      <th><a class="th-sort" href="" (click)="sort($event, 'timePlayed')">Playtime</a><span class="arrow" *ngIf="sortableCol === 'timePlayed'"><span *ngIf="!asc">&#11107;</span><span *ngIf="asc">&#11105;</span></span></th>
    </thead>
    <tbody>
      <tr *ngFor="let stat of stats | orderBy: config | stringFilter: nameFilter">
          <td>{{ stat.soldierName }}</td>
          <td>{{ stat.totalScore }}</td>
          <td>{{ stat.rush }}</td>
          <td>{{ stat.combatScore }}</td>
          <td>{{ stat.kills }}</td>
          <td>{{ stat.deaths }}</td>
          <td [ngClass] = "{'alertColor' : (stat.kills / stat.deaths > 10), 'warningColor' : (stat.kills / stat.deaths < 10) && (stat.kills / stat.deaths > 5)  }" >{{ stat.kills / stat.deaths | number: '1.2-2'}}</td>
          <td [ngClass] = "{'alertColor' : (stat.kills / ((stat.timePlayed / 60) / 60) / 60) > 2.8, 'warningColor' : (stat.kills / ((stat.timePlayed / 60) / 60) / 60) < 2.8 && (stat.kills / ((stat.timePlayed / 60) / 60) / 60) > 2 }">{{ (stat.kills / ((stat.timePlayed / 60) / 60) / 60) | number: '1.2-2'}}</td>
          <td>{{ stat.headshots }}</td>
          <td>{{ stat.revives }}</td>
          <td>{{ stat.heals }}</td>
          <td>{{ stat.repairs }}</td>
          <td>{{ stat.resupplies }}</td>
          <td>{{ stat.vehiclesDestroyed }}</td>
          <td>{{ (stat.timePlayed / 60) / 60 | number: '1.0-0'}} h</td>
        </tr>

    </tbody>
  </table>
</div>
