<img id="banner-image" src="../../assets/img/banner960.jpg">
<nav class="navbar">
  <ul class="nav-items">
    <li><a [routerLink]="['/']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">HOME</a></li>
    <li><a [routerLink]="['/scoreboard']" [routerLinkActive]="['active']">SCOREBOARD</a></li>
    <li><a [routerLink]="['/stats/halloffame']" [routerLinkActive]="['active']">STATISTICS</a></li>
    <li><a [routerLink]="['/admins']" [routerLinkActive]="['active']">ADMINS</a></li>
  </ul>
  <ul *ngIf="_router.url.includes('/stats/')" class="secondary-nav-items">
    <li><a [routerLink]="['/stats/byDate']" [routerLinkActive]="['active']">Stats by date</a></li>
    <li><a [routerLink]="['/stats/bySoldierName']" [routerLinkActive]="['active']">Stats by soldiername</a></li>
    <li><a [routerLink]="['/stats/AllTime']" [routerLinkActive]="['active']">all stats</a></li>
  </ul>
  <!-- <span class="expire">Server rental days left {{daysLeft}}</span> -->
</nav>


