<div class="statsContainer">
  <table class="stats-table">
    <thead>
      <th>Alive</th>
      <th>Squad</th>
      <th>Rank</th>
      <th>Name</th>
      <th>K</th>
      <th>D</th>
      <th>K/D</th>
      <th>K/min</th>
      <th>Score</th>
      <th>Revives</th>
      <th>Ping</th>
      <th>Playtime</th>
      <th>Switched</th>
      <th>Visits</th>
      <th>TK</th>
    </thead>
    <tbody>
      <tr *ngFor="let attacker of team1">
          <td>{{attacker.alive}}</td>
          <td>{{attacker.squadId}}</td>
          <td>{{attacker.rank}}</td>
          <td>{{attacker.name}}</td>
          <td>{{attacker.sessionKills}}</td>
          <td>{{attacker.sessionDeaths}}</td>
          <td>{{attacker.sessionKills / attacker.sessionDeaths | number: '1.2-2'}}</td>
          <td>{{(attacker.sessionKills / ((attacker.sessionPlaytime / 60) / 60) / 60) | number: '1.2-2'}}</td>
          <td>{{attacker.sessionScore}}</td>
          <td>revs</td>
          <td>{{attacker.ping}}</td>
          <td>{{(timeNow - attacker.connecttime)}}</td>
          <td>{{(attacker.lastswitchtime / 60) / 60 | number: '1.0-0'}}</td>
          <td>{{attacker.visits}}</td>
          <td>{{attacker.teamkills}}</td>
        </tr>

    </tbody>
  </table>
