.one, .two, .three, .four
  font-family: 'BebasNeue', sans-serif
  font-size:
  margin:
    left: 10px
    top: 0
    bottom: 5px
  letter-spacing: 2px
  animation: fadein 5s
  animation-fill-mode: forwards
  text-shadow: 2px 2px 2px #BBB

.one
  font-size: 2.4rem

.two
  margin-left: 20px
  opacity: 0
  animation-delay: 3s
.three
  margin-left: 20px
  opacity: 0
  animation-delay: 5s
.four
  font-size: 2.8rem
  opacity: 0
  animation-delay: 6s
  margin-bottom: 100px
@keyframes fadein
  0%
    opacity: 0
  100%
    opacity: 1
