/* You can add global styles to this file, and also import other style files */
@import '_vars'
@import './app/all-stats/_all-stats.component'
@import './app/home/_home.component'
@import './app/nav/_nav.component'
@import './app/stats/_stats.component'
@import './app/stats-soldiername/_stats-soldiername.component'
@import './app/_app.component'
@import './app/scoreboard/_scoreboard.component'
@import './app/privacy/_privacy.component'
@import './app/footer/_footer.component'


// Global styles
@font-face
  font-family: BebasNeue
  src: url(./assets/fonts/BebasNeue.otf)
body
  //background: $back-color
  background-color: #222222;
  background: repeating-linear-gradient(45deg, #2b2b2b 0%, #2b2b2b 10%, #222222 0%, #222222 50%) 0 / 15px 15px
  font-family: 'Montserrat', sans-serif
  font-weight: 400
.main-wrapper
  background: $content-container-color
  width: 960px
  margin: 0 auto
  @include bp-med
    width: 748px
  @include bp-small-2
    width: 476px
  @include bp-small
    width: 360px

// Global link colors
a
  &:link
    color: $unvisited-link
  &:visited
    color: $visited-link
  &:hover
    color: $hovered-link
  &:active
    color: $active-link
//Statsboards sorting links coloring
.th-sort
      color: $sorting-link !important
      text-decoration: none
      &:hover
          color: $gold-brown !important

// Global table styles
.stats-table
  border-collapse: collapse
  font-size: .7rem
  th, td
    border: 1px solid #000
    padding: 5px
    text-align: center
  th
    background: $stats-table-gradient
    color: #FFF
  tr
    &:hover
      background-color: $stats-hover-color
  //Alert colors for table data.
  .alertColor
    color: $alert-color
  .warningColor
    color: $warning-color
  .alertColorBoard
    background-color: $alert-color
    color: #FFF
  .warningColorBoard
    background-color: $warning-color
    color: #FFF

  // Loading animation
  .loading
    border: 0
    padding: 20px
    font-size: 1.1rem
    font-family: 'BebasNeue', sans-serif
