<div class="join-container">
  <h3>Would you like to join our platoon?</h3>
  <hr class="hr">
  <h4>Server rules and info:</h4>
  <ul class="list">
    <li class="join-list">No nationality matters</li>
    <li class="join-list">On server, our languages are English and Finnish</li>
    <li class="join-list">Everyone can join our platoon</li>
    <li class="join-list">Tags are optional, use [NKLK] or any other</li>
    <li class="join-list">We have very active admins and they will spectate players</li>
    <li class="join-list">Respect Rules and Admins</li>
    <li class="join-list">No explosives in Metro or Locker. Smoke, flare or flash are allowed</li>
    <li class="join-list">No Mortar, FLIR/IRNV (Vehicle FLIR/IRNV are allowed)</li>
    <li class="join-list">No Javelin in ocean maps</li>
  </ul>
  <h4>How to apply?</h4>
  <ul class="list">
    <li class="join-list">You can join our platoon on our
      <a href="http://battlelog.battlefield.com/bf4/platoons/view/606963032107831778/">platoon page</a>.</li>
    <li class="join-list">We decline join from a players that has been caught for cheating</li>
  </ul>
  <a class="callToAction" href="http://battlelog.battlefield.com/bf4/platoons/view/606963032107831778/">JOIN PLATOON</a>
  <h2 class="donations">To help keeping a server alive, we accept donations. Server lives on donations!</h2>
  <h4 class="donations-link">Send your donations by Paypal to <span>niskalaukaus18@hotmail.com</span></h4>
</div>
